<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
    <link rel="stylesheet" type="text/css" href="/static/css/common/common.css">
    <link rel="stylesheet" type="text/css" href="/static/css/product/category.css">
</head>
<body style="margin: 0">
    <div class="page">
        <header th:insert="~{other/fragments :: header}"></header>

        <main style="margin-left: 10%; margin-right: 10%;">

            <div style="padding-top: 10px; font-size: 20px; display: flex; justify-content: center">
                <p class="category_title" th:text="${categoryName}">Имя категории</p>
            </div>

            <div class="category_page_center_frame">

                <div style="width: 200px; height: 200px" th:each="preview : ${previews}">
                    <input style="width: 100%" type="image" th:src="${preview.getImageAdress()}">
                </div>

            </div>

        </main>

        <footer th:insert="~{other/fragments :: footer}" style="margin-top: auto;"></footer>
    </div>
</body>
</html>