<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My account</title>
    <link rel="stylesheet" type="text/css" href="/static/css/common/common.css">
    <link rel="stylesheet" type="text/css" href="/static/css/account/show.css">
</head>
<body style="margin: 0">
    <div class="page">
        <header th:insert="~{other/fragments :: header}"></header>

        <div style="width: 350px; height: 550px; position: relative; top: 50px; left: 20px">
            <div style="background: #113be8; line-height: 2; height: 255px; position: relative">
                <span style="font-size: 20px; position: absolute; margin-top: -5px; margin-left: 100px">Account Info</span><br>

                <span class="large_text"> Your id: </span>
                <span class="large_bold_text" th:text="${user.getId()}"></span><br>

                <span class="large_text"> First Name: </span>
                <span class="large_bold_text" th:text="${user.getFirstName()}"></span><br>

                <span class="large_text"> Middle Name: </span>
                <span class="large_bold_text" th:text="${user.getMiddleName()}"></span><br>

                <span class="large_text"> Last Name: </span>
                <span class="large_bold_text" th:text="${user.getLastName()}"></span><br>

                <span class="large_text"> Age: </span>
                <span class="large_bold_text" th:text="${user.getAge()}"></span><br>

                <span class="large_text"> Sex: </span>
                <span class="large_bold_text" th:text="${user.getSex()}"></span><br>

                <span class="large_text"> Email: </span>
                <span class="large_bold_text" th:text="${user.getEmail()}"></span><br>
            </div>

            <div style="background: #113be8; height: 255px; position: relative; top: 40px">
                <a href="/cart">
                    <img class="show_cart_button" src="/static/images/elements/shopping_cart.png" alt="Корзина">
                </a>
            </div>
        </div>

        <footer th:insert="~{other/fragments :: footer}" style="margin-top: auto;" ></footer>
    </div>
</body>
</html>